# =========================
# Projet 8 - Système RAG
# Puls-Events / OpenAgenda
# =========================

# Data
pandas>=2.2,<3.1
numpy>=1.26,<3.0
requests>=2.32,<3.0

# Environnement
python-dotenv>=1.0,<2.0

# Vectorisation / RAG
faiss-cpu>=1.8,<2.0
langchain>=1.0,<1.4
langchain-core>=1.0,<1.5
langchain-community>=0.4,<0.4.2
langchain-text-splitters>=1.0,<1.2
langchain-mistralai>=1.1,<1.2
mistralai>=2.0,<3.0

# API REST
fastapi>=0.115,<0.140
uvicorn>=0.30,<0.51
pydantic>=2.8,<3.0

# Evaluation RAG
ragas==0.4.3
datasets>=2.19,<6.0
langchain-openai>=0.3,<2.0
openai>=1.30,<3.0
tiktoken>=0.7,<1.0

# Tests
pytest>=8.0,<10.0

# Visualisation / notebooks (optionnel mais utile pour le projet)
plotly>=5.20,<7.0
kaleido>=0.2,<2.0
jupyter>=1.0,<2.0